OpenEDG Python Institute: Pythons Essentials 1

In [1]:
# 2.4.1.7 LAB: Variables

john = 3
mary = 5
adam = 6

print(john, mary, adam, sep=", ")

total_apples = john + mary + adam
print(total_apples)

print("Total number of apples:",total_apples)

3, 5, 6
14
Total number of apples: 14

In [2]:
# 2.4.1.9 LAB: Variables: a simple converter

kilometers = 12.25
miles = 7.38

miles_to_kilometers = miles * 1.61
kilometers_to_miles = kilometers / 1.61

print(miles, "miles is", round(miles_to_kilometers, 2), "kilometers")
print(kilometers, "kilometers is", round(kilometers_to_miles, 2), "miles")

7.38 miles is 11.88 kilometers
12.25 kilometers is 7.61 miles

In [3]:
# 2.4.1.10 LAB: Operators and expressions

x = 0
x = float(x)
y = 3*x**3 - 2*x**2 + 3*x - 1
print("y =", y)

x = 1
x = float(x)
y = 3*x**3 - 2*x**2 + 3*x - 1
print("y =", y)

x = -1
x = float(x)
y = 3*x**3 - 2*x**2 + 3*x - 1
print("y =", y)

y = -1.0
y = 3.0
y = -9.0

### Variables

In [3]:
x, y = 4, 5
print('x =', x)
print('y =', y)

x = 4
y = 5

In [1]:
x = 1 / 2 + 3 // 3 + 4 ** 2
print(x)

17.5

In [ ]:
print('x + y =', x+y)
print('x - y =', x-y)
print('x * y =', x*y)
print('x / y =', x/y)

x + y = 9
x - y = -1
x * y = 20
x / y = 0.8