Exercise 1: Add 10 to each element of a list using map() and lambda.

In [15]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = list(map(lambda x: x + 10, nums))
print(result_list)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Exercise 2: Square the elements of a list using map() and lambda.

In [16]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = list(map(lambda x: x ** 2, nums))
print(result_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Exercise 3: Filter even numbers from a list using filter() and lambda.

In [17]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = list(filter(lambda x: x % 2 == 0, nums))
print(result_list)

[2, 4, 6, 8, 10]

Exercise 4: Convert Celsius temperatures to Fahrenheit using map() and lambda.

In [19]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda x: (x * (9/5)) + 32, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

Exercise 5: Filter names starting with 'A' from a list using filter() and lambda.

In [22]:
names = ['John', 'Anna', 'Peter', 'Amie', 'David']
result_list = list(filter(lambda x: x[0] == 'A', names))
print(result_list)

['Anna', 'Amie']

Exercise 6: Perform element-wise addition of two lists using map() and lambda.

In [24]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
result_list = list(map(lambda x, y: x + y, list1, list2))
print(result_list)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

Exercise 7: Filter elements greater than a threshold from a list using filter() and lambda.

In [25]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
threshold = 5
result_list = list(filter(lambda x: x > threshold, nums))
print(result_list)

[6, 7, 8, 9, 10]

Exercise 8: Capitalize the first letter of each word in a list using map() and lambda.

In [33]:
words = ['bike', 'dog', 'cat', 'car', 'bus']
result_list = list(map(lambda x: x.capitalize(), words))
print(result_list)

['Bike', 'Dog', 'Cat', 'Car', 'Bus']

Exercise 9: Filter strings longer than 5 characters from a list using filter() and lambda.

In [34]:
strings = ['motorcycle', 'car', 'train', 'internet', 'monitors', 'bus', 'television']
threshold = 5
result_list = list(filter(lambda x: len(x) > threshold, strings))
print(result_list)

['motorcycle', 'internet', 'monitors', 'television']

Exercise 10: Double the odd numbers in a list using map() and lambda.

In [39]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = list(map(lambda x: x * 2 if x % 2 != 0 else x, nums))
print(result_list)

[2, 2, 6, 4, 10, 6, 14, 8, 18, 10]